@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Sigmar+One&display=swap');

* {
  font-family: 'Secular One', sans-serif;
}

.judulGame h1{
    font-family: 'Sigmar One', cursive;
    text-shadow: 0px 6px 5px rgba(185, 185, 185, 1);
    color: #232323;
  }

.mainDisplay
{
    background-image: url(../Asset/img/background-utama.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 49px;
}

.navbar 
{
    padding-top: 24px;
    padding-bottom: 24px;
}
  
.btn-nav 
{
    padding: 12px 24px;
    border: none;
    background-color: #078080;
    color: #f8f5f2;
    border-radius: 10px;
    box-shadow: 1px 10px 47px 8px rgba(199,199,199,0.68);
}

.images
{
    height: 200px;
}

.images img
{
    height: 200px;
    width: 270px;
}

.avatars 
{
    height: 375px
}

.texts
{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    width: 270px;
    height: 150px;
}

.texts h3
{
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.texts p1
{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 1000px) {
  
    .container {
      width: 90%;
    }
  
    .avatars
    {
        height: 575px;
    }

    .images
    {
        margin-bottom: 200px;
    }

    .references
    {
        margin-top: 200px;
    }
  }

  @media (max-width: 900px) {
  
    .container {
      width: 90%;
    }
  
    .avatars
    {
        height: 575px;
    }

    .images
    {
        margin-bottom: 200px;
    }

    .references
    {
        margin-top: 200px;
    }
  }

@media (max-width: 750px) {
  
    .container {
      width: 90%;
    }
  
    .avatars
    {
        height: 575px;
    }

    .images
    {
        margin-bottom: 200px;
    }

    .references
    {
        margin-top: 600px;
    }
  }

